body {
  background: #f7f7f7;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.wrap {
  padding: 20px;
}
#game {
  background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAyCAYAAACq+U5hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAEM0lEQVR4nO2YS2gUURSG/0YQUXBNrWjRimKjECpRkQoxChRBoUJtFIlwI9GnUoVEKQStBDFBIiokCpXlJVEZsWy2bPuX2b7dM7szM9M0o2qjfM/MzuzszM2kshnIYxjEMQzRz7NCCkUGiEpRFHqElHqF1gEOYZmM2yBCqhJAl3AfsAC+AGVbkM8INvGA0TgAw2DvmU1Aq6AJrV5NY8AFkwbTPnAE+QZbF9AauAGvT9YBFw7hY9gfeBIxvS9o2l8lpQF1oFa/J0LIDWAF0oBpwMlExrp+OYWqlrJjOAHnhJ9jeDP+ELgM0SShkLz7bL9TQOZKqM4vLAg1dQ9gC5ALeB4GdIAYweB2YAhdjO5lvAkbmq70iNm4fLQPuNfk0ZQ1PjQPz9gHu4TR1U6mWcJLCFkY8TuAXnAk8TWFo3Wth+ak2oIfNQ9r0D7CXi9rAQVfcBfgEjg3hZ1q9qtgmU1WMMyBUaq0zU4hMnC1TRxyr+syXrj0ye95ugQmI9bZWuF1H0A0jVqcrEkK4m9IRuMEB1iG8NS1/ts6fdN03dt6MfpPXZLkZBVsKkGmroZwiTtm0V9WhUqL77gRWjOHUuAs1f0g08xpcc4Ihf0YvhPqjTYa/B8CfdOvXrrA5L50QWsF/G8ha6NYyAf8JtNGjEtUfgTxs72YjC72cMiFgkm6V0GguZq6iStq3r1kO1+DH1wJk2s0uvU1k9vCmvgeIFLxyn8R61KNdpq7LWHPDFEKJ/mzpA1TH5KZ2T/voZbKu6RZmzuRxbTmL0iix+wAe4aZJPaD6PuxM5+4V/k4Bycr5NjYcvm77k6REfZrnMFHifvUtStVSWXcAAAAASUVORK5CYII=') no-repeat 50px bottom;
  background-size: 40px auto;
  border: 2px solid #ccc;
}
.credit {
  margin-top: 10px;
  color: #555;
}
